
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
   
    font-family: "League Spartan", sans-serif;
    
}

body{
    width: 100%;
    color: #222;
}

.h1{
    font-size: 3.125rem;
    line-height: 4rem;
}
.h2{
    font-size: 2.88rem;
    line-height: 3.375rem;
}

h4{
    font-size: 1.25rem;
}

h6{
    font-weight: 700;
    font-size: 0.75rem;
}

.p{
    font-size: 1rem;
    color: #465b52;
    margin: 1rem 0 1.25rem 0;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #088178;
    border: 1px solid #088178;
    transition: background .3s ease;
}

.a:hover{
    background: white;
    color: #088178;
}

button.normal{
    font-size: .875rem;
    font-weight: 600;
    padding: 1rem 1.875rem;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

/* Header */

li a{

    transition:.3s ease
}

.li a:hover, li a.active {
    color: #088178;
    transition: .3 ease;
}

.li a:hover::after, li a.active::after{
    content: '';
    width: 40%;
    position: absolute;
    background: #088178;
    height: 2px;
    bottom: 1px;
    border-radius: 20%;
    left: 0px;
}

button.b{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.divIn input,textarea{
    width: 100%;
    padding: 4px 4px;
    border: 1px solid #e1e1e1;
    outline: none;
    border-radius: 2px;
}